.form-container {
  width: 70%;
  margin: auto;
}

.form {
  margin: 36px auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 8px;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.actions button,
.actions .link-btn {
  margin: 16px 0;
}

.link-btn {
  display: inline-block;
  text-decoration: underline;
}

.form-container a {
  color: #331D2C!important;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 95%;
  }

  .form-container h1 {
    font-size: 24px;
  }

.form label,
.form input,
.form textarea {
  width: 95%!important;
  margin: auto;
}
}